/*D64933 */
/*2B303A*/
/*0C7C59*/
/*58A4B0*/
/*BAC1B8*/
body{
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #D64933;
    padding: 2.5rem;
    border: solid grey 10rem;
}
nav{
    background-color: #2B303A;
    height: 2.5rem;
    box-shadow: 0 0 20px 10px rgb(0,0,0,0.2);
}
img{
    margin: 2rem 0rem 0rem 2rem;
    width: 40rem ;
    height: 40rem ;
    border-radius: 100% ;
    box-shadow: 0 0 20px 10px rgb(0,0,0,0.2);
}
img:hover{
    margin: 2rem 0rem 0rem 2rem;
    width: 50rem ;
    height: 50rem ;
    border-radius: 100% ;
    box-shadow: 0 0 20px 10px rgb(0,0,0,0.2);
}
#logo{
    color: white;
    /* margin: 4rem 4rem 4rem 4rem; */
    padding: 0.5rem 1.5rem 0rem 1.5rem;
}
.image-container{
    text-align: center;
}


